<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title> My Portfolio </title>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <script src="/js/fetch.js"> </script>
    </head>
    <body>

      <nav navbar navbar-default>
            <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li class="active"> <a class="menu glyphicon glyphicon-fire" href="/"> Home </a> </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li> <a class="menu glyphicon glyphicon-user" href="/signup"> Signup </a> </li>
                        <li> <a class="menu glyphicon glyphicon-log-in" href="/login"> Login </a> </li>
                        <!-- <li> <a class="menu glyphicon glyphicon-log-out" href="/logout" onclick="logOut()"> Logout </a> </li> -->
                     </ul>
            </div>
    </nav>

        {{{body}}}
        <script type="text/javascript" src="/js/script.js"> </script>
</body>

</html>
