<form class="myForm" class="form-horizontal" method="POST">
  <fieldset>
    <legend> Login </legend>
            <div class="form-group">
                <label class="control-label col-sm-1"> Email </label>
                <input class="inputs" type="text" name="email" placeholder="Enter your First Name" />
             </div>
            <div class="form-group">
                <label class="control-label col-sm-1"> Password </label>
                <input class="inputs" type="password" name="password" placeholder="Enter your Last Name" />
            </div>
            <button type="submit" class="btn btn-default" onclick="submitLogin()"> Submit </button>
    <fieldset>
</form>
